@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}
/* .navbar-nav li{
    color: rgb(60, 203, 55);
    display: inline-block;
    padding-right: 5em;
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
} */



.page-container{
    display: flex;
    /* background-color: gray; */
    flex-direction: row;

}


/* SIDE SECTION */
.side-bar {
    display: block;
    background-color: rgb(3, 7, 41);
    min-height: 100vh;
    width: 25vw;
   
}

#myImageDiv{
    display: block;
    max-width: 100%;
    height: auto;
    padding:1.5em;
}

#myImage{
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.nav {
   
    display: block;

}

.nav ul {
    list-style: none;
    text-align: left;
    padding:25%;
    line-height: 5em;
}
.nav li{
    color: rgb(60, 203, 55);
    font-weight: 800;
    font-size: 2vw;
    text-decoration: none;

}
.nav li :hover{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-style: italic;
    background-color: blueviolet;
}


.dropbtn{
    display: none;
}

.dropdown-content {
    display: none;
}

/* MAIN SECTION */
main{
    display: flex;
    background-color: rgb(3, 8, 53);
    min-height: 100vh;
    width: 75vw;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
main p{
    font-size: 3rem;
    color: aliceblue;
    float: left;
}
main h1{
    
    color: rgb(10, 93, 216);
}
/* #upperBrkt{
    float: none;

}
#lwrBrkt{
    float: none;

} */

#welcomeTxt{
    display: block;
    /* height: 25vh   ; */
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
}
#skillsTxt{
    display: block;
    height: 25vh   ;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0;
}

#helloTxt{
    color: rgb(255, 200, 0);

}

.fakeAttribute{
    font-style: italic;
}


 .fakeCode{
    color:purple;   

 }
 .brackets{
    color:rgb(60, 203, 55);

 }
#lwrBrkt2{
    float:none;
}


/* PORTFOLIO SECTION */
#portfolio{
    display: block;
    background-color: rgb(3, 8, 53);
    min-height: 100vh;
    width: 100%;
}


#portfolio h1{
    color: rgb(10, 93, 216);
    font-weight: 900;
}



 /* MEDIA QUERIES */
 @media screen and (max-width: 800px) {
    .page-container{flex-direction: column;}
    .side-bar{min-width: 100vw; height: 10vh;}
   
    .dropdown{display: block; border: none; width: 10vw;   }
    .dropbtn:hover{background-color: blueviolet;}
    .dropbtn{display: block; height: 8vh; width: 60px; background-color: transparent; border: none;}
    .dropdown-content{
        height: fit-content;
        border: 1px solid black;
        background-color: rgb(0, 0, 0);
        width: 50vw;

    }
    .dropdown-content a {
        float: none;
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 3vh;

      }
    .dropdown:hover .dropdown-content{
        display:block;

    }
    .dropdown-content a:hover{
        background-color: blueviolet;
    }
    .nav li {display: none;}
    main{min-width: 100vw; height: 100vh;}
    #myImageDiv{display: none;}
    #myImage{display: none;}
 }