* {
    box-sizing: border-box;
    overflow: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: white;
    margin: 0;
}


/*COMMON CLASSES*/

article {
    margin: 10%;
}

.background-gradient {
    background-image: linear-gradient(#1f407e, #2e1f7e);
}

.title {
    font-family: 'Lato', fantasy;
    font-weight: 800;
    font-size: 3rem !important;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 5px;
}

.grid-container {
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 20px;
    display: block;
    height: auto;
    /* margin-top: 0;
    margin-bottom: 45px; */
    grid-template-columns: 50% 50%;
    /* margin-left: 10%;
    margin-right: 10%; */
    box-shadow: 4px 4px 8px 4px black;
}

.grid-container-main {
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 20px;
    display: grid;
    height: auto;
    margin-top: -30px;
    margin-bottom: 45px;
    grid-template-columns: 50% 50%;
    margin-left: 10%;
    margin-right: 10%;
    /* box-shadow: 4px 4px 8px 4px black; */
}

.Section {
    /*Picture*/
    /* border: 1px solid blue; */
    display: grid;
    /* margin: 5%; */
    /* padding: 5%; */
    font-family: 'Lato', fantasy;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    width: 100%;
}

.sectionHeader {
    color: #1f407e;
    text-align: center;
}

.fadein {
    opacity: 0;
    animation: fadein 5s;
    animation-delay: 0s;
    -moz-animation: fadein 5s;
    -moz-animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}


/* NAVIGATION */

header {
    position: relative;
    top: 0;
    width: 100vw;
    margin: 0;
}

.navSection {
    /* background-color: #1f407e; */
    font-family: 'Lato', fantasy;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    width: 100vw;
}

.navlinks {
    display: inline-block;
    width: 100%;
    /* grid-template: 'logo portfolio contact'; */
}

.nav-logo {
    grid-area: logo;
    margin-left: 2px;
    float: left;
}

.logo1 {
    max-width: 20%;
    height: auto;
}

.nav-btn {
    display: block;
    border: 3px solid #1f407e;
    border-radius: 45px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding: 10px;
    color: #1f407e;
    max-width: 175px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-contact {
    grid-area: contact;
    text-decoration: none;
}

.nav-btn:hover {
    color: white;
    background-color: #2e1f7e;
    border: none;
    box-shadow: 4px 4px 8px 4px black;
}


/* MAIN SECTION */

main {
    /* background-image: linear-gradient(#1f407e,#2e1f7e); */
    display: grid;
    height: 100%;
    width: 100vw;
    text-align: center;
    margin-bottom: 5%;
}

.hero {
    color: #1f407e;
    height: 100%;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

.hero h2 {
    color: #2e1f7e;
    text-shadow: 3px 3px 3px;
}

.nav-portfolio {
    display: block;
    grid-area: portfolio;
    text-decoration: none;
    margin: auto;
    margin-top: 15px;
}


/* ABOUT SECTION */

#mepic {
    border-radius: 50%;
    width: auto;
    height: 100%;
    /* padding: 15%; */
}

#about {
    display: block;
    padding: 10%;
    width: 100%;
    height: auto;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* PROJECTS/SKILLS SECTION*/

#wpf-db {
    width: 50px;
    height: auto;
}


/*EDUCATION*/

.degree {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
}

.school {
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-align: center;
}

#education {
    display: flex;
    flex-flow: column;
    height: 25vh;
    width: auto;
    /* margin: 10%; */
}

.ed-card {
    display: block;
    height: auto;
    width: 100%;
}


/* SKILLS */

#skills-article {
    /* background-image: linear-gradient(#1f407e,#2e1f7e); */
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.titles {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 0;
    margin-right: 10%;
    margin-left: 10%;
    height: 10%;
    text-align: center;
}

.subtext {
    font-family: "lato", sans-serif;
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 100;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logos {
    width: 100%;
    height: auto;
}


/* SOCIAL MEDIA LINKS */

.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-img {
    height: 30px;
    width: auto;
    margin: 15px;
}

.social-img:hover {
    transform: scale(1.5, 1.5);
}


/* FOOTER */

footer {
    background-image: linear-gradient(#1f407e, #2e1f7e);
    padding: 5%;
    color: white;
    display: grid;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 0;
    width: 100%;
}

.logo2 {
    display: block;
    margin: 20px;
    height: 50px;
    width: auto;
}


/* MEDIA QUEREY */


/*
@media only screen and (max-width: 525px) {
    body,
    header {
        display: block;
        margin: 0;
        width: 100%;
    }
    main {
        margin: 0;
    }
    .hero {
        display: inline-block;
        margin-top: 10%;
    }
    .navlinks,
    .nav-logo,
    .nav-portfolio,
    .nav-bio,
    .nav-contact,
    .skills {
        display: block;
        width: 100%;
        height: auto;
    }
    .nav-logo {
        padding-top: 12px;
    }
    .grid-container-main {
        display: block;
        margin: 5%;
    }
    .grid-container {
        margin: 5%;
    }
    .mySkills,
    .tech {
        background-color: transparent;
        box-shadow: none;
        display: block;
        height: auto;
        width: auto;
        margin: 10%;
    }
    .logos {
        padding: 5%;
        height: 100px;
        width: 100px;
    }
    .skills {
        display: block;
        
    }
}*/